<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ApothecaryClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                <img src="/images/house.png" alt="Home" class="home-label-image" />
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registration">
                <img src="/images/adduser.png" alt="Registration" class="home-label-image" />
                Registration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order-placement">
                <img src="/images/medicines.png" alt="Order Placement" class="home-label-image" />
                Order Placement
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dispatch-planner">
                <img src="/images/package.png" alt="Dispatch Planner" class="home-label-image" />
                Dispatch Planner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iot-simulator">
                <img src="/images/fridge.png" alt="Refrigeration Health" class="home-label-image" />
                Refrigeration Health
            </NavLink>
        </div>
    </nav>


</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
