@page "/"

<div class="homebg">
    <div class="homeheader">
        
        <div style="font-size: 22px;font-family: cursive; color: white;">
            The Hyper Intelligent Smart Pharmacy
        </div>
        <a href="/login" class="enter-btn">Enter</a> 
    </div>
</div>