@page "/login"

<div class="landing-page">
    <div class="image-section">
        <img src="/images/home.png" alt="Image preview" style="max-width: 700px;border-radius: 50px" />
    </div>
    <div class="login-section">
        <div class="login-neumorphic login-container">
            <div class="login-logo">
                <img src="/images/Apothecary.png" alt="Image preview" style="border-radius: 20px;max-width: 80px;" />
            </div>
            <div class="tagline" style="font-style: italic;font-family: cursive;">
                The Hyper Intelligent Smart Pharmacy
            </div>
            <input type="text" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
            <button class="login-button">Login</button>
            <div class="remember-me">
                <div class="remember-checkbox">
                    <input type="checkbox">
                </div>
                <div class="remember-text">Remember me</div>
                <span class="forgot-password">Forgot Password?</span>
            </div>
            <div class="signup-button">
                <p>New User? <a href="/registration" class="signup-link">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>